<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  
  <connectionStrings>
    <add name="PM.Properties.Settings.PMConnectionString" connectionString="Data Source=localhost\SQLExpress;Initial Catalog=PM;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  
  <userSettings>
    <PM.Properties.Settings>
      <setting name="ApplicationThemeName" serializeAs="String">
        <value>Office2010Blue</value>
      </setting>
    </PM.Properties.Settings>
  </userSettings>
  
  <applicationSettings>
    <PM.Properties.Settings>
      <setting name="AppSettingsFilename" serializeAs="String">
        <value>AppSettings.json</value>
      </setting>
      <setting name="LoggerXMLConfigFile" serializeAs="String">
        <value>Log4netConfig.xml</value>
      </setting>
    </PM.Properties.Settings>
  </applicationSettings>
  
</configuration>